*.vbproj.CoreCompileInputs.cache
*.sqlite
bin/
obj/
.vs/
Resources/Board images
Resources/Task images
Resources/Task images resized
Resources/Team boards
Resources/Test output
*.vbproj.user
*.csproj.user
*.suo
*.vbw
*.vspscc
Thumbs.db
Stylecop.Cache
Doc-*.xml